.btnLogin, .btnTransparentM, .btnTransparentS {
	background-color: transparent;
	border-radius: 5px;
	font-family: inherit;
	color: inherit;
	border: 2px solid;
}

.btnTransparentM, .btnTransparentS {
	height: 24px;
	border-color: #313131;	
	font-weight: 600;
}

.btnLogin {
	width: 120px;
	height: 40px;	
	border-color: #FBFBFB;
	font-size: 18px;
	padding: 0px 8px 2px;
}

.btnTransparentM {
	width: 100px;
	padding: 0px 8px 2px;
	font-size: 14px;
}

.btnTransparentS {
	width: 24px;
	font-size: 20px;
	line-height: 20px;
}

.btnDelete {
	height: 28px;
	width: 28px;
	font-size: 16px;
	background-color: red;
	font-family: inherit;
	color: inherit;
	text-transform: uppercase;
}