.btnLogin, .btnTransparentM, .btnTransparentS {
	background-color: transparent;
	border-radius: 5px;
	font-family: inherit;
	color: inherit;
	border: 2px solid;
}

.btnTransparentM, .btnTransparentS {
	height: 24px;
	border-color: #313131;	
	font-weight: 600;
	line-height: 1;
}

.btnLogin {
	width: 120px;
	height: 40px;	
	border-color: #FBFBFB;
	font-size: 18px;
}

.btnTransparentM {
	width: 100px;
}

.btnTransparentS {
	width: 24px;	
	font-size: 24px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.btnDelete {
	height: 28px;
	width: 28px;
	font-size: 22px;
	background-color: red;
	line-height: 0.8;
	padding-bottom: 4px;
	font-family: inherit;
	color: inherit;
}