*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

img {
	border: 0;
	vertical-align: top;
}

a {
	text-decoration: none;
	color: inherit;
}

a[href^=tel] {
	text-decoration: inherit;
	color: inherit;
}

ul,
ol,
li {
	list-style: none;
}
  
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #FBFBFB;
	font-size: 16px;
}

.app {
	height: calc(100vh - 192px);
}

button, a {
	cursor: pointer;
}

p {
	font-size: 18px;
}

h2 {
	font-size: 22px;
	background-color: #9297f7;
	color: #FBFBFB;
	padding-left: 10px;
}